* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #454545;
  background-color: #111;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  color: #fff; 
}

footer p {
  font-size: 14px; 
}

/* Media Queries */
@media screen and (max-width: 768px) {
  footer p {
    font-size: 12px; /* font size for small screens */
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer p {
    font-size: 16px; /* font size for medium screens */
  }
}

@media screen and (min-width: 1025px) {
  footer p {
    font-size: 14px; /* font size for large screens */
  }
}

img {
  width: 100%;
}

.container {
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

/***********************************UNIVERSAL STYLES***********************************/

@media screen and (max-width: 760px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.section-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.accent-text {
  font-family: "Dancing Script", cursive;
  color: #e52e2d;
}

.active {
  color: #e52e2d;
}

.is-checked {
  color: #e52e2d;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #a3a3a3;
  text-align: justify;
}

a {
  text-decoration: none;
}

/***********************************SCROLL BAR STYLES***********************************/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a3a3a3;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e52e2d;
}

/***********************************HEADER STYLES***********************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  z-index: 1;
  background-color: #a3a3a3;
}

header .navbar-brand {
  font-size: 27pt;
  font-weight: bold;
  color: #454545;
  font-family: "Dancing Script", cursive;
}

header .navbar-nav .nav-link {
  color: #454545;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

header .navbar-nav .nav-link.active,
header .navbar-nav .nav-link:hover {
  color: #e52e2d;
}

@media screen and (max-width: 768px) {
  header .navbar-brand {
    font-size: 10pt;
  }
  
  header .navbar-nav .nav-link {
    font-size: 7px;
  }

  .navbar-toggler {
    margin-right: 0;
    padding: 1px;
    background-color: #ccc;
  }

  .navbar-collapse {
    margin-top: 1rem;
  }
}

/***********************************PROFILE STYLES***********************************/

#profile {
  margin-top: 50px;
  margin-bottom: -70px;
  height: 80%;
  position: relative;
}

.profile-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.profile img {
  width: 300px;
  height: 350px;
  border-radius: 50%;
}

.profile-content h1 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.profile-content h2 {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  #profile {
    margin-bottom: -30px;
    margin-top: 80px;
    /* height: 100%; */
    position: relative;
    max-height: 400px;
  }

  .profile img {
    max-width: 150px;
    max-height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .profile-content h1 {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .profile-content h2 {
    font-size: 1rem;
  }
}

.profile-content .download {
  color: #bfbfbf;
  background: none;
  border: 1px #bfbfbf solid;
  border-radius: 1000px;
  padding: 10px;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.profile-content .download {
  color: #bfbfbf;
  background: none;
  border: 1px #bfbfbf solid;
  border-radius: 1000px;
  padding: 10px;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.profile-content .download a {
  color: #bfbfbf;
  font-size: 16px;
}

.profile-content .download:hover {
  color: #e52e2d;
}

@media screen and (max-width: 768px) {
  .profile-content .download {
    width: 120px;
    font-size: .2rem; 
  }
}

.profile-social {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.profile-social {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-social li {
  list-style: none;
  margin: 5px;
}

.profile-social .fab,
.profile-social .far {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border: 1px #a3a3a3 solid;
  border-radius: 50%;
  color: #454545;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  cursor: pointer;
}

.profile-social .fab:hover,
.profile-social .far:hover {
  color: #e52e2d;
}

@media screen and (max-width: 768px) {
  .profile-social {
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile-social li {
    margin: 5px;
  }
}

/***********************************ABOUT STYLES***********************************/
#about {
  position: relative;
}

.about-text {
  opacity: 1;
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.about-text-animate {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.topic-table {
  margin-bottom: 30px;
  width: 98%;
}

.topic-row {
  display: flex;
  align-items: center;
}

.topic-text {
  flex-grow: 1;
}

.topic-cell {
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .topic-cell {
    font-size: 16px;
  }
}


.topic-content {
  padding: 10px;
  display: none;
}

.topic-content.active {
  display: block;
}

.education,
.certification {
  margin-bottom: 20px;
}

.education-list {
  list-style-type: none;
  padding: 20px, 0;
  margin: 0;
}

.education-item {
  display: inline;
  font-size: 18px;
  font-weight: bold;
}

.education-item.highlight {
  font-size: 16px;
  font-style: italic;
  font-family: "Dancing Script", cursive;
}


.education-block,
.certification-block {
  margin-bottom: 10px;
}

.certification-block ul {
  list-style: circle;
  margin-left: 20px;
}

.certification-block li {
  margin-bottom: 5px;
}

.education-block p:last-child {
  font-size: smaller;
  font-style: italic;
}

.skills {
  margin-bottom: 10px;
}

.skill-button {
  color: #bfbfbf;
  background: none;
  border: 1px #bfbfbf solid;
  display: inline-block;
  border-radius: 20px;
  padding: 8px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/***********************************SERVICES STYLES***********************************/
#services {
  background: #f8f9fa;
}

.service-block {
  padding: 20px;
}

.service-block h3,
.service-block p {
  text-align: center;
}

.service-block .icon {
  color: #e52e2d;
  font-size: 40px;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.service-block .service-icon-animate {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.hb:nth-child(1),
.hb:nth-child(2),
.hb:nth-child(3) {
  border-bottom: 1px #a3a3a3 solid;
}

@media screen and (max-width: 991px) {
  .hb:nth-child(-n + 4) {
    border-bottom: 1px #a3a3a3 solid;
  }
}

@media screen and (max-width: 768px) {
  .hb:nth-child(5) {
    border-bottom: 1px #a3a3a3 solid;
  }
}

.vb:nth-child(1),
.vb:nth-child(2),
.vb:nth-child(4),
.vb:nth-child(5) {
  border-right: 1px #a3a3a3 solid;
}

@media screen and (max-width: 991px) {

  .vb:nth-child(1),
  .vb:nth-child(2),
  .vb:nth-child(4),
  .vb:nth-child(5) {
    border-right: none;
  }

  .vb:nth-child(2n + 1) {
    border-right: 1px #a3a3a3 solid;
  }
}

@media screen and (max-width: 768px) {
  .vb:nth-child(-n + 6) {
    border-right: none;
  }
}

.truncate {
  max-width: 580px;
}

.fas,
.far {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff0000;
  font-size: 32px;
}

/***********************************PORTFOLIO STYLES***********************************/
#filter-btn {
  margin-bottom: 40px;
}

#filter-btn ul {
  text-align: center;
  list-style: none;
}

#filter-btn li {
  padding-right: 20px;
  display: inline-block;

}

.white-text {
  color: #ccc;
}

@media screen and (max-width: 760px) {
  #filter-btn li {
    display: block;
    margin-top: 10px;
  }
}

#filter-btn .button {
  border: 1px #a3a3a3 solid;
  padding: 10px 30px 10px 30px;
  border-radius: 500px;
  background: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#filter-btn .button:hover {
  color: #e52e2d;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.app-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background: #000000;
  background: -webkit-linear-gradient(45deg, #000000 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #000000 0%, #596a72 100%);
  background: linear-gradient(45deg, #000000 0%, #596a72 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .2;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.app-container:hover .front,
.app-container:hover .back {
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.app-container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.app-container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.app-container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.app-container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.back .inner .fas {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  float: right;
  margin-top: 5px;
}

.back .inner h4 {
  font-family: "Dancing Script", cursive;
  color: #a3a3a3;
}

.back .inner p {
text-align: center;
font-size: small;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/***********************************CONTACT STYLES***********************************/
#contact {
  background: #f8f9fa;
}

.contact-block {
  height: 50px;
  margin-bottom: 150px;
}

@media screen and (max-width: 768px) {
  .contact-block {
    margin-bottom: 40px;
  }
}

.contact-block .fas,
.contact-block .far {
  /* display: inline-block; */
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  border: 1px #a3a3a3 solid;
  border-radius: 50%;
  color: #454545;
  float: left;
}

.contact-text {
  float: left;
  padding-left: 16px;
}

.contact-text p:first-child {
  text-align: left;
  color: #454545;
  font-weight: bold;
}

.field {
  width: 100%;
  text-align: left;
  margin-top: 15px;
}

input[type="text"] {
  display: inline-block;
  width: 100%;
  padding: 5px;
  height: 45px;
  font-size: 1em;
  background: #f8f9fa;
  border: 1px #a3a3a3 solid;
  color: #000;
}

textarea {
  display: inline-block;
  width: 100%;
  padding: 5px;
  font-size: 1em;
  background: #f8f9fa;
  border: 1px #a3a3a3 solid;
  color: #000;
}

#contact-submit {
  padding: 10px;
  border: #000;
  background: none;
  border: 1px #a3a3a3 solid;

  cursor: pointer;
  font-size: 1.2em;
  float: right;
}

#contact-submit:hover {
  background-color: rgb(171, 111, 228);
  color: #fff;
}

/***********************************FOOTER STYLES***********************************/
footer {
  background: #111;
  padding: 12px 0 12px 0;
  text-align: center;
  padding-top: 35px;
}

.link-header {
  position: fixed;
  text-align: center;
  height: 50px;
  width: 100%;
  background: #454545;
  z-index: 9999;
  line-height: 50px;
  overflow: auto;
}

.link-header a {
  color: #fff;
}